<!-- 
Поле ввода сообщений chat-input
Кнопка отправки send-button
Область сообщений message-area
Сообщение пользователя user-message
Сообщение бота bot-message
-->

<main class="main">
  <div class="header">Чат-бот</div>
  <div class="message-area" data-test-id="message-area">
    <app-message [messageText]="messagesData.commands[0].response" [isMessageFromBot]="true"></app-message>
    <app-message messageText="ничем" [isMessageFromBot]="false"></app-message>
  </div>
  <div class="command-block">
    <input type="text" data-test-id="chat-input" placeholder="Команда" />
    <button data-test-id="send-button">➤</button>
  </div>
</main>
<router-outlet />
