.main {
    background-color: beige;

    max-width: 450px;
    height: max(80vh, 700px) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

    .message-area {
        height: 100%;
    }

    .command-block {
        border: 1px solid lightgrey;
    }
}
